body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.mosquito1 {
    width: 60px;
    height: 60px;
}

.mosquito2 {
    width: 80px;
    height: 80px;
}

.mosquito3 {
    width: 100px;
    height: 100px;
}

.mosquito4 {
    width: 120px;
    height: 120px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 190px;
    border-top: 1px solid #fff;
    background-color: #fff;
    opacity: 0.7;
    padding: 10px;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}